[Desktop Entry]
Type=Application
Name=XTPlayer
Exec=XTPlayer
Icon=XTPlayer
Comment=Cross platform TCode media funscript player
Terminal=false
Categories=AudioVideo;
