
QMainWindow, QDialog, QTabWidget > QWidget, LibraryWindow  {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1.5, stop: 0 black, stop: 1 silver);
    color: white;
}
QSplitter::handle {
    background-color: white;
}
QTabBar::tab {
  background: silver; 
  border: 1px solid lightgray; 
  padding: 5px;
  color: black;
  border-radius: 4px 4px 0px 0px;
} 
QTabBar::tab:selected { 
  background: black; 
  border: 1px solid white; 
  color: white;
}
QLabel {
    background-color: transparent;
    color: white;
}
QListWidget {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1.5, stop: 0 black, stop: 1 silver);
    color: white;
}
QMenuBar {
    background-color: black;
    color: white;
}
QMenuBar::item {
    padding: 1px 4px;
    background: transparent;
    border-radius: 4px;
}
QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: silver;
	color: black;
}
QMenuBar::item:pressed {
    background: silver;
	color: black;
}
QMenu {
    background-color: black;
    color: white;
}
QMenu::item{
 background-color: transparent;
 color: white;
}
QMenu::item:selected:!disabled{
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1.5, stop: 0 black, stop: 1 silver);
color: white;
} 
QMenu::item:disabled{
background-color: grey;
color: lightgrey;
} 
QRadioButton, QCheckBox, QGroupBox, QLabel {
    background-color: transparent;
    color: white;
}
QScrollBar:handle:vertical {
    background-color: grey;
}
QScrollBar:horizontal {
    background-color: black;
}
QScrollBar:handle:horizontal {
    background-color: grey;
}
QScrollBar:vertical {
    background-color: black;
}
QStatusBar {
    color: white;
}
QPushButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 black, stop: 1 grey);
    color: white;
}
QPushButton:disabled {
    background-color: lightgrey;
    color: grey;
}

QFrame[cssClass="windowedControls"] {
    background-color: transparent;
    color: black;
}

QFrame[cssClass="fullScreenControls"] {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
QPushButton[id="windowedLibraryButton"] {
	height: 25px;
	width: 25px;
    background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}
QPushButton[id="randomizeLibraryButton"] {
	height: 25px;
	width: 25px;
    background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}
QPushButton[id="windowedLibraryButton"]:pressed {
    background-color: rgba(100, 100, 100, 0.5);
}
QPushButton[id="randomizeLibraryButton"]:pressed {
    background-color: rgba(100, 100, 100, 0.5);
};
