
QMainWindow, QDialog, QTabWidget > QWidget, QLineEdit, QScrollArea > QWidget > QWidget, LibraryWindow  {
    background-color: #33363c;
    color: #bec0c1;
}

QFrame#libraryFrame {
	border: 1px solid;
	border-color: #3e4249;
	border-radius: 4px;
}
QFrame[cssClass="timeLinePreview"] {
	background-color: rgba(51,54,60, 0.5);
	border-color: #bec0c1;
	border-style: inset;
	border-width: 3px;
}
QSplitter::handle {
	background: #3e4249;
	margin-left:5px;
}
QStatusBar::item {
    border: none;
}
QStatusBar QPushButton[cssClass="retryButton"] {
	color: white;
}
QStatusBar QLabel[cssClass="connectionStatusConnected"] {
	color: green;
}
QStatusBar QLabel[cssClass="connectionStatusDisconnected"] {
	color: red;
}
QStatusBar QLabel[cssClass="connectionStatusConnecting"] {
	color: yellow;
}
QDialog[cssClass="loadingSpinner"] {
	
}
QLabel[cssClass="libraryLoadingSpinner"] {
	background-color: rgba(128,128,128, 1);
}
QLabel[cssClass="libraryLoadingSpinnerText"] {
	color: black;
}
QLabel[cssClass="mediaLoadingSpinner"] {
	background-color: transparent;
}
QLabel[cssClass="linkLabel"] { 
	color: black; 
	background-color: white; 
}
QProgressBar {
	color: green;
    margin: 0.5px;
}
QTabBar::tab {
	background-color: #33363c; 
	padding: 5px;
	color: #bec0c1;
    border: 2px solid #3e4249;
	border-radius: 4px 4px 0px 0px;
} 
QTabBar::tab:hover {
    background-color: #44474f;
    color: #dddedf;
}
QTabBar::tab:selected { 
	background: white; 
	border: transparent; 
	color: #33363c;
}
QTabWidget::pane {
	border: none;
}
QLabel {
    background-color: transparent;
    color: white;
}
QListView {
    background-color: transparent;
    color: white;
	border: none;
}
QMenuBar {
    background-color: #33363c;
    color: white;
}
QMenuBar::item {
    padding: 1px 4px;
    background: transparent;
    border-radius: 4px;
}
QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: white;
	color: #33363c;
}
QMenuBar::item:pressed {
    background: white;
	color: #33363c;
}
QMenu {
    background-color: #33363c;
    color: #bec0c1;
}
QMenu::item{
	background-color: transparent;
	color: #bec0c1;
}
QMenu::item:selected:!disabled{
	background-color: #33363c;
	color: white;
} 
QMenu::item:disabled{
	background-color: #33363c;
	color: grey;
} 
QScrollBar:vertical {
    background: #3e4249;
	border-radius: 5px;
	width: 10px;
}
QScrollBar::handle:vertical {
    background-color: #81848d;
	border-radius: 5px;
	height: 30px;
}
QScrollBar:horizontal {
    background: #3e4249;
	border-radius: 5px;
	height: 10px;
}
QScrollBar:handle::horizontal {
    background-color: #81848d;
	border-radius: 5px;
	width: 30px;
}
QScrollBar::handle:vertical:hover,
QScrollBar:handle::horizontal:hover {
    background-color: #bec1cb;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical,
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
	border: none;
	background: none;
	width: 0px;
	height: 0px;
}
QScrollBar::right-arrow:vertical, QScrollBar::left-arrow:vertical,
QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal
{
	border: none;
	background: none;
	width: 0px;
	height: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	border: none;
	background: none;
} 
QScrollBar::add-line:vertical,
QScrollBar::add-line:horizontal {
	border: none;
	background: none;
	width: 0px;
	height: 0px;
}
QScrollBar::sub-line:vertical,
QScrollBar::sub-line:horizontal {
	border: none;
	background: none;
	width: 0px;
	height: 0px;
}
QFrame[cssClass="windowedControls"] {
    background-color: transparent;
    color: white;
}

QFrame[cssClass="fullScreenControls"] {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
QFrame[cssClass="windowedLibrary"] {
    background-color: transparent;
    color: white;
}
QFrame[cssClass="fullScreenLibrary"] {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
QStatusBar {
    color: white;
}
QComboBox QAbstractItemView {
    background-color: #3e4249;
    color: #bec0c1;
	font-size: 12px;
    selection-background-color: #44474f;
    selection-color: #dddedf;
}
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; 
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
QComboBox::down-arrow {
    image: url(://images/icons/expand-button.png);
	width: 8px;
	height: 8px;
}
QRadioButton, QGroupBox, QLabel {
    background-color: transparent;
    color: white;
}
QCheckBox {
    background-color: #33363c;
    color: white;
}
QPushButton,QComboBox,QLineEdit,QSpinBox,QDoubleSpinBox {
    background-color: #3e4249;
    color: #bec0c1;
	padding: 5px;
	font-size: 12px;
	border-radius: 4px 4px 0px 0px;
}
QLineEdit {
	padding: 2px;
}
QPushButton:hover,QComboBox:hover,QLineEdit::focus,QLineEdit::hover,QSpinBox::hover {
    background-color: #44474f;
    color: #dddedf;
}
QPushButton:disabled,QComboBox:disabled,QLineEdit::disabled,QSpinBox::disabled {
    background-color: grey;
    color: lightgrey;
}
QPushButton[cssClass="playerControlButton"] {
    background: transparent;
	border-radius: 2px;
    color: black;
}
QPushButton[cssClass="playerControlButton"]:hover {
    background-color: #44474f;
    color: #dddedf;
}
QPushButton[cssClass="playerControlButton"]:disabled {
    background-color: transparent;
    color: grey;
}
QPushButton[cssClass="settingsButton"] {
    background: transparent;
	border-radius: 25px;
    color: black;
}
QPushButton[cssClass="settingsButton"]:hover {
    background-color: #44474f;
    color: #dddedf;
}
QPushButton[cssClass="settingsButton"]:disabled {
    background-color: transparent;
    color: grey;
}
QPushButton#loopToggleButton:checked,
QPushButton#muteBtn:checked  {
    background-color: rgba(100, 100, 100, 0.5);
    color: black;
}
QPushButton:pressed,
QPushButton[cssClass="playerControlButton"]:pressed,
QPushButton#windowedLibraryButton:pressed,
QPushButton#randomizeLibraryButton:pressed,
QPushButton#backLibraryButton:pressed,
QPushButton#savePlaylistButton:pressed,
QPushButton#editPlaylistButton:pressed,
QPushButton#cancelEditPlaylistButton:pressed {
    background-color: rgba(100, 100, 100, 0.5);
    color: black;
}
QPushButton#windowedLibraryButton,
QPushButton#randomizeLibraryButton,
QPushButton#backLibraryButton,
QPushButton#savePlaylistButton,
QPushButton#editPlaylistButton,
QPushButton#cancelEditPlaylistButton {
	height: 20px;
	width: 20px;
	border-radius: 4px 4px 0px 0px;
}
QPushButton#randomizeLibraryButton,
QPushButton#backLibraryButton,
QPushButton#windowedLibraryButton,
QPushButton#editPlaylistButton {
    background-color: rgba(255, 255, 255, 0.5);
}
QPushButton#savePlaylistButton {
    background-color: rgba(0, 255, 0, 0.5);
}
QPushButton#cancelEditPlaylistButton {
    background-color: rgba(255, 0, 0, 0.5);
}
;
