
QMainWindow, QDialog, QTabWidget > QWidget, LibraryWindow {
    background-color: #f2f3f4;
    color: black;
}
QSplitter::handle {
    background-color: grey;
}
QDialog[cssClass="loadingSpinner"] {
	
}
QLabel[cssClass="libraryLoadingSpinner"] {
	background-color: rgba(128,128,128, 1);
}
QLabel[cssClass="libraryLoadingSpinnerText"] {
	color: black;
}
QLabel[cssClass="mediaLoadingSpinner"] {
	background-color: transparent;
}
QProgressBar {
	color: black;
}
QTabBar::tab {
  background: silver; 
  border: 1px solid lightgray; 
  padding: 5px;
  color: black;
  border-radius: 4px 4px 0px 0px;
} 
QTabBar::tab:selected { 
  background: black; 
  border: 1px solid #f2f3f4; 
  color: #f2f3f4;
}
QLabel {
    background-color: transparent;
    color: black;
}
QListWidget {
    background-color: #f2f3f4;
    color: black;
}
QMenuBar {
    background-color: transparent;
    color: black;
}
QMenuBar::item {
    padding: 1px 4px;
    background: transparent;
    border-radius: 4px;
}
QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: black;;
	color: #f2f3f4;
}
QMenuBar::item:pressed {
    background: black;;
	color: #f2f3f4;
}
QMenu {
    background-color: transparent;
    color: white;
}
QMenu::item{
 background-color: transparent;
 color: white;
}
QMenu::item:selected:!disabled{
background-color: #f2f3f4;;
color: black;
} 
QMenu::item:disabled{
background-color: grey;
color: lightgrey;
} 
QRadioButton, QCheckBox, QGroupBox, QLabel {
    background-color: transparent;
    color: black;
}
QScrollBar:handle:vertical {
    background-color: grey;
}
QScrollBar:horizontal {
    background-color: #f2f3f4;
}
QScrollBar:handle:horizontal {
    background-color: grey;
}
QScrollBar:vertical {
    background-color: #f2f3f4;
}
QStatusBar {
    color: black;
}
QPushButton {
    background-color: #dbe9f4;
    color: black;
}
QPushButton:disabled {
    background-color: lightgrey;
    color: grey;
}

QFrame[cssClass="windowedControls"] {
    background-color: transparent;
    color: black;
}

QFrame[cssClass="fullScreenControls"] {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
QFrame[cssClass="windowedLibrary"] {
    background-color: transparent;
    color: black;
}
QFrame[cssClass="fullScreenLibrary"] {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
QPushButton[id="windowedLibraryButton"] {
	height: 25px;
	width: 25px;
    background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}
QPushButton[id="randomizeLibraryButton"] {
	height: 25px;
	width: 25px;
    background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}
QPushButton[id="windowedLibraryButton"]:pressed {
    background-color: rgba(100, 100, 100, 0.5);
}
QPushButton[id="randomizeLibraryButton"]:pressed {
    background-color: rgba(100, 100, 100, 0.5);
}
QPushButton[id="backLibraryButton"] {
	height: 25px;
	width: 25px;
    background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}
QPushButton[id="backLibraryButton"]:pressed {
    background-color: rgba(100, 100, 100, 0.5);
}
QPushButton[id="savePlaylistButton"] {
	height: 25px;
	width: 25px;
    background-color: rgba(0, 255, 0, 0.5);
	border-radius: 50%;
}
QPushButton[id="savePlaylistButton"]:pressed {
    background-color: rgba(100, 100, 100, 0.5);
}
QPushButton[id="editPlaylistButton"] {
	height: 25px;
	width: 25px;
    background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}
QPushButton[id="editPlaylistButton"]:pressed {
    background-color: rgba(100, 100, 100, 0.5);
}
QPushButton[id="cancelEditPlaylistButton"] {
	height: 25px;
	width: 25px;
    background-color: rgba(255, 0, 0, 0.5);
	border-radius: 50%;
}
QPushButton[id="cancelEditPlaylistButton"]:pressed {
    background-color: rgba(100, 100, 100, 0.5);
}
;

