body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: sans-serif;
}
.header {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 50px;
}
.headerSection {
    flex-basis: 33%;
}
.headerLogoSection {
    display:flex;
    justify-content: center;
    flex-basis: 33%;
    flex-flow: column;
    align-items: center;
}
.headerLogo {
    height: 50px;
    max-width: fit-content;
}
.toolBar {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.toolBarGroup {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.toolBarGroupStart {
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 32%;
    border-radius: 25px;
}

.modal-header {
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-basis: 15%;
}

.modal-body {
    display: flex;
    flex-flow: column;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: flex-end;
}
.modal-title {
    align-self: center;
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
}
/* The Close Button */
.close-modal {
    align-self: center;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formElement {
    margin-top: 8px;
    height: 24px;
}
.formElement select, 
.formElement button, 
.formElement input:not([type='checkbox']) {
    border-radius: 5px;
    height: 24px;
}
.formLabel {
    margin-right: 8px;
}
select {
    min-width: 132px;
}
select:hover, button:hover, input:not([type='checkbox']):hover {
    background-color: cornflowerblue;
}
.icon-button {
    height: 32px;
    width: 32px;
    border-radius: 25px;
}
.icon-button > img {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.header-button {
    margin-left: 4px;
}
.header-button-right {
    margin-right: 4px;
}
.thumbs-container
{
    display: flex;
    flex-flow: column;
    font-family: arial;
    font-size: 16px;
    max-height: calc(100vh - 121px);
    overflow-y: auto;
}
.thumbs-body
{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.media-item 
{
    overflow: hidden;
    border-radius: 25px;
    margin: 5px;

}
.media-item img
{
    object-fit: contain;
    flex-basis: 60%;
    border-radius: 10px;
    margin-top: 16px;
}    

.media-item .name
{ 
    text-overflow: ellipsis;
    flex-basis: 40%;
    text-align: center;
}
.media-item:not(.playing-media-item):hover {
    color: hotpink;
    box-shadow: -1px 1px 5px 0px hotpink, 1px -1px 5px 0px hotpink, 1px 1px 5px 0px hotpink, -1px -1px 5px 0px hotpink;
}
.media-item:not(.playing-media-item):hover a {
    color: hotpink;
}
.media-item-noscript:not(.playing-media-item):hover {
    color: lightgrey;
    box-shadow: -1px 1px 5px 0px lightgrey, 1px -1px 5px 0px lightgrey, 1px 1px 5px 0px lightgrey, -1px -1px 5px 0px lightgrey;
}
.media-item-noscript:not(.playing-media-item) a  {
    color: grey;
}
.media-item-noscript:not(.playing-media-item):hover a  {
    color: lightgrey;
}
.media-item-mfs:not(.playing-media-item):hover {
    color: gold;
    box-shadow: -1px 1px 5px 0px gold, 1px -1px 5px 0px gold, 1px 1px 5px 0px gold, -1px -1px 5px 0px gold;
}
.media-item-mfs:not(.playing-media-item) a  {
    color: chartreuse;
}
.media-item-mfs:not(.playing-media-item):hover a  {
    color: gold;
}
.playing-media-item {
    color: cornflowerblue;
    box-shadow: -1px 1px 5px 0px cornflowerblue, 1px -1px 5px 0px cornflowerblue, 1px 1px 5px 0px cornflowerblue, -1px -1px 5px 0px cornflowerblue;
}
.playing-media-item a {
    color: cornflowerblue;
}
.media-link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}
/* .deoVideo {
    max-height: calc(100vh - 500px);
} */
.video {
    max-height: 35vh;
}
.deviceStatus {
    text-align: end;
    font-size: small;
    margin-bottom: 8px;
}
.device-status-disconnected,
.device-status-error {
    color: crimson;
}
.device-status-connected {
    color: chartreuse;
}
.device-status-connecting {
    color: yellow;
}
.retry-tcode-button {
    margin-right: 4px;
    height: 16px;
    font-size: 10px;
}
.refresh-media-button {
    position: fixed;
    left: calc(100vw - 75px);
    top: calc(100vh - 50px);
}