body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: sans-serif;
}
.header {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 50px;
}
.headerSection {
    flex-basis: 33%;
}
.headerSpacer {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    max-width: 250px;
}
.headerLogoSection {
    display:flex;
    justify-content: center;
    flex-basis: 95%;
}
.headerLogo {
    height: 50px;
    max-width: fit-content;
}
.toolBar {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 250px;
}
.toolBarGroup {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 32%;
    border-radius: 25px;
}

.modal-header {
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-basis: 15%;
}

.modal-body {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    flex-basis: 85%;
    align-items: flex-start;
}
.modal-title {
    align-self: center;
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
}
/* The Close Button */
.close-modal {
    align-self: center;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formElement {
    margin-top: 8px;
    height: 24px;
}
.formElement select, 
.formElement button, 
.formElement input:not([type='checkbox']) {
    border-radius: 5px;
    height: 24px;
}
.formLabel {
    margin-right: 8px;
}
select {
    min-width: 132px;
}
select:hover, button:hover, input:not([type='checkbox']):hover {
    background-color: cornflowerblue;
}
.icon-button {
    height: 32px;
    width: 32px;
    border-radius: 25px;
}
.icon-button > img {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.header-button {
    margin-left: 4px;
}

.thumbs-container
{
    display: flex;
    flex-flow: column;
    font-family: arial;
    font-size: 16px;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    margin-top: 15px;
}
.thumbs-body
{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.media-item 
{
    overflow: hidden;
}
.media-item img
{
    object-fit: contain;
    flex-basis: 60%;
}    
/* display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical; */
.media-item .name
{ 
    text-overflow: ellipsis;
    flex-basis: 40%;
    text-align: center;
}

.mediaLink {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}
.mediaLink:hover {
color: hotpink;
}
.mediaLink:active {
color: lightblue;
}
.mediaLinkMFS {
    color: chartreuse;
}
.mediaLinkNoScript {
    color: darkgrey;
}
.mediaLinkNoScript:hover {
    color: lightgrey;
}

.deoVideo {
    max-height: calc(100vh - 500px);
}
.video {
    max-height: 35vh;
}