

body {
    background-color: black;
    color: white;
    font-family:  'sans-serif', "serif", "Lucida Sans Regular", 'Times New Roman', "Times", "DejaVu Serif", "Verdana";
}
.body-container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}
.headerSection {
    flex-basis: 33%;
}
.headerLogoSection {
    display:flex;
    justify-content: center;
    flex-basis: 33%;
    flex-flow: column;
    align-items: center;
}
.headerLogo {
    height: 50px;
    max-width: fit-content;
}
.toolBar {
    display: flex;
    flex-flow: column;
    margin: 16px 8px 16px 8px;
}
.toolBarGroup {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.toolBarGroupStart {
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.save-status {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 500ms, visibility 500ms linear;
    transition: opacity 500ms, visibility 500ms linear;
    margin-right: 4px;
}

.modal {
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-transition: opacity 500ms, visibility 500ms linear;
    transition: opacity 500ms, visibility 500ms linear;
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 85%;
    height: 90%;
}

.modal-header {
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-basis: 15%;
}

.modal-body {
    overflow-y: hidden;
    flex-grow: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
}
.modal-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-basis: 7%;
}
.modal-footer-content {
    align-self: flex-end;
}
.modal-title {
    align-self: center;
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
}
/* The Close Button */
.close-modal {
    align-self: center;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input:disabled, textarea:disabled, select:disabled {
  border: 0;
  box-shadow: none;
  background-color: #ccc;
}
.formElement {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 8px;
    width: 100%;
    text-align: end;
}
.formElement select, 
.formElement button, 
.formElement input:not([type='checkbox']):not([type='range']):not([type='radio']) {
    flex-grow: 1;
    border-radius: 5px;
    height: 24px;
}
.formElement label  {
    height: 24px;
    flex-basis: 20%;
    padding-top: 4px;
    margin-right: 8px;
}
.styled-radio {
    width: 20px;
    height: 20px;
    margin: 4px 0px;
}
.styled-checkbox {
    width: 20px;
    height: 20px;
    margin: 4px 0px;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.styled-checkbox:checked:after {
    content:"\1F5F8";
}
.styled-checkbox:checked {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

button:not(.icon-button):not(.tab-section-tab) {
    border-radius: 5px;
    height: 24px;
}
select {
    min-width: 132px;
}
select:hover, button:hover, input:hover {
    background-color: lightblue;
}
.icon-button {
    /* height: 32px; */
    /* margin: 0; */
    /* width: 32px; */
    /* border-radius: 50%; */
    padding: 8px;
    border-width: 1px;
    border-radius: 9999px;
    display: inline-flex;
    /* justify-content: center; */
    /* align-content: center; */
    border-style: solid;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.25s 0s cubic-bezier(0, 1, 1, 1);
    cursor: pointer;
}
.icon-button > img {
    width: 16px;
    height: 16px;
}
.icon-small {
    width: 16px;
    height: 16px;
}
.header-button {
    margin-left: 4px;
}
.header-button-right {
    margin-right: 4px;
}
.thumbs-container
{
    display: flex;
    flex-flow: column;
    font-family: arial;
    font-size: 16px;
    max-height: calc(100vh - 165px);
    overflow-y: auto;
}
.thumbs-body
{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.media-item 
{
    overflow: hidden;
    border-radius: 25px;
    margin: 5px;
    content-visibility: auto;
    contain-intrinsic-size: 1px 500px;

}
.media-item:hover
{
    cursor: pointer;
}
.media-item.media-item-playing:hover
{
    cursor:not-allowed;
}
.media-item img
{
    object-fit: contain;
}
.media-item a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}    
.media-item .name
{ 
    text-overflow: ellipsis;
    flex-basis: 40%;
    text-align: center;
}
.media-item:not(.media-item-playing):hover {
    color: plum;
    box-shadow: -1px 1px 5px 0px hotpink, 1px -1px 5px 0px lightblue, 1px 1px 5px 0px lightblue, -1px -1px 5px 0px hotpink;
}
.media-item:not(.media-item-playing):hover a {
    color: plum;
}
.media-item-noscript:not(.media-item-playing):hover {
    color: lightgrey;
    box-shadow: -1px 1px 5px 0px lightgrey, 1px -1px 5px 0px lightgrey, 1px 1px 5px 0px lightgrey, -1px -1px 5px 0px lightgrey;
}
.media-item-noscript:not(.media-item-playing) a  {
    color: grey;
}
.media-item-noscript:not(.media-item-playing):hover a  {
    color: lightgrey;
}
.media-item-mfs:not(.media-item-playing):hover {
    color: gold;
    box-shadow: -1px 1px 5px 0px gold, 1px -1px 5px 0px orange, 1px 1px 5px 0px red, -1px -1px 5px 0px gold;
}
.media-item-mfs:not(.media-item-playing) a  {
    color: chartreuse;
}
.media-item-mfs:not(.media-item-playing):hover a  {
    color: gold;
}

.media-item-playing {
    color: cornflowerblue;
    box-shadow: -1px 1px 5px 0px cornflowerblue, 1px -1px 5px 0px lightblue, 1px 1px 5px 0px lightblue, -1px -1px 5px 0px cornflowerblue;
}
.media-item-mfs.media-item-playing  {
    color: cornflowerblue;
    box-shadow: -1px 1px 5px 0px cornflowerblue, 1px -1px 5px 0px chartreuse, 1px 1px 5px 0px cornflowerblue, -1px -1px 5px 0px cornflowerblue;
}
.media-item-playing a {
    color: cornflowerblue;
}
/* .deoVideo {
    max-height: calc(100vh - 500px);
} */
.video { 
    max-width: 95vw;
    max-height: 0;
    align-self: center;
    opacity: 0;
    transition: max-height 0.25s ease-in-out, opacity 0.5s linear;
}
.video-shown {
    opacity: 1;
    max-height: 33vh;
}
/* 
.refresh-media-button {
    position: fixed;
    left: calc(100vw - 85px);
    margin-top: 16px;
} 
*/

.range-slider {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
    text-align: center;
}

.range-input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 10px;
    width: 100%;
    outline: none;
    margin: 0;
    padding: 0;
}

.range-input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.range-input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.range-input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
.range-input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
.range-input::-moz-focus-outer {
    border: 0;
}
section.range-label {

}
section > .range-values {
    font-size: 10px;
}


.form-group-label {

}
.form-group {
}

.form-group-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    place-items: center;
}
.form-group-section > * {
 /*    min-width: max-content;
    max-width: 33%; */
}

/* grid-template-columns: 5% 10% 15% 27% 15% 27%; */
.form-group-section-connection {
    
}
.form-group-control-header {
    
}
.form-group-control-header > * {

}

.form-group-control {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}
.form-group-control > * {
 /*    min-width: max-content;   */  
}

/* * {
  box-sizing: border-box;
} */
.tab-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.tab-section {
    display: none;
    height: 100%;
    overflow-y: auto;
}

.tab-section-tab {
  cursor: pointer;
  display: inline-block;
  background-color: #5E6B7F;
  color: white;
  text-align: center;
  transition: .25s ease;
  border: none;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  min-width: fit-content;
}

.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 500ms, visibility 500ms linear;
  border-top: 2px solid #5E6B7F;
}

.tab-content-header {
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid white;
}

.tab-content-header-main {
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tab-content-header-eyebrow {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.sync-device-status {
    border-radius: 10px;
    padding: 3px;
    margin-left: 12px;
    margin-right: 12px;
}
/* .sync-device-address {
    width: 15%;
}
.sync-device-port {
    width: 7%;
} */
.sync-device-input-label {
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
}
.no-media {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}
.loading-spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
.loading-spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  



@media only screen and (-webkit-min-device-pixel-ratio: 2.75)   {
    .modal-content {

    }
    .formElement {
        grid-template-columns: 40% 60%;
    }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 2.75)
or (min-device-width: 375px) 
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)   {
    .body {
        font-size: xx-large;
    }
    .header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 164px;
    }
    .icon-button {
        height: 128px;
        width: 128px;
    }
    .icon-button > img {
        width: 64px;
        height: 64px;
        margin-top: 3px;
    }
    .formElement {
        margin-top: 16px;
        height: 96px;
    }
    .formElement select, 
    .formElement button, 
    .formElement input:not([type='checkbox']) {
        border-radius: 15px;
        height: 64px;
        font-size: xx-large;
    }
    
    input[type='checkbox'] {
        width: 60px;
        height: 60px;
        margin: 12px 0px;
        border-radius: 12px;
    }
    input[type='checkbox']:checked {
        font-size: 32px;
    }
    
    .formElement label  {
        height: 64px;
        padding-top: 16px;
        margin-right: 8px;
        font-size: xx-large;
    }
    
    .modal-content {
        padding: 20px;
        width: 75%;
    }
    
    .modal-body {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .modal-title {
        font-size: 64px;
    }
    .refresh-media-button {
        left: calc(100vw - 164px);
        top: calc(100vh - 304px);
    }
    .default-settings-button {
        height: 64px;
        font-size: xx-large;
    }
} */